
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474710958'); /* IE9*/
  src: url('iconfont.eot?t=1474710958#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474710958') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474710958') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474710958#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e601"; }
.icon-shezhi:before { content: "\e602"; }
.icon-chuizhishequ:before { content: "\e603"; }
.icon-liebiao:before { content: "\e600"; }
.icon-icon24:before { content: "\e604"; }
.icon-huifu:before { content: "\e605"; }
.icon-shouyin:before { content: "\e606"; }
.icon-kehu:before { content: "\e607"; }
.icon-yingyong:before { content: "\e608"; }
.icon-webpage:before { content: "\e609"; }
.icon-moban:before { content: "\e60a"; }
.icon-o2o:before { content: "\e60b"; }
.icon-layouts:before { content: "\e60c"; }
.icon-zhankai:before { content: "\e620"; }
.icon-pingtai:before { content: "\e60d"; }
.icon-shangcheng:before { content: "\e60e"; }
.icon-qiaquan:before { content: "\e60f"; }
.icon-huiyuanqia:before { content: "\e610"; }
.icon-weishangdf295a:before { content: "\e611"; }
.icon-buchongiconsvg15:before { content: "\e61e"; }
.icon-zhanghu:before { content: "\e612"; }
.icon-youxi:before { content: "\e613"; }
.icon-jilu:before { content: "\e614"; }
.icon-ziliao:before { content: "\e615"; }
.icon-yingxiao:before { content: "\e616"; }
.icon-qiaquan1:before { content: "\e617"; }
.icon-guanliyuan:before { content: "\e61f"; }
.icon-xianjin:before { content: "\e618"; }
.icon-weiguanwang01:before { content: "\e619"; }
.icon-shouye-copy:before { content: "\e61a"; }
.icon-gongzhonghao:before { content: "\e61b"; }
.icon-fa-yingyong:before { content: "\e61c"; }
.icon-zaixianzhifu:before { content: "\e61d"; }
